/* Styling für footer */
footer {
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
}
footer a {
  color: #96bae2;
  text-decoration: none;
}

/* Prefers-color-scheme (Light/Dark Mode) */
@media (prefers-color-scheme: light) {
  footer {
    background-color: #dae4f2;
  }
}
@media (prefers-color-scheme: dark) {
  footer {
    background-color: #1f2937;
  }
}
