/* Styling für main */
main {
  display: flex;
  flex-wrap: wrap; /* Elemente auf zusätzliche Zeilen umbrechen. */
  justify-content: center;
  align-content: center; /* Zeilen in der Mitte des Containers ausrichten. */
  gap: 10px;
  padding: 10px;
}
main h2 {
  color: #23304b;
  font-size: 1.5em;
}
main p {
  color: #23304b;
  font-size: 1.1em;
  line-height: 1.6;
  margin: 10px 0;
}
