/* Haupt-Grid-Container für die About-Seite */
#container {
  display: grid;
  grid-template: 1fr 1fr 1f 1fr / 1fr 1fr 1fr 1fr; /* 4x4 */
  gap: 20px;
  padding: 20px;
}

/* Über uns */
.about {
  grid-area: 1 / 1 / 1 / span 4;
  background-color: #23304b;
  color: #e8f3ff;
  padding: 10px;
  text-align: center;
}

/* Beschreibung */
.description {
  grid-area: 2 / 1 / 2 / span 4;
  background-color: #23304b;
  color: #e8f3ff;
  padding: 10px;
  text-align: center;
}

/* Teammitglieder */
.team-info {
  grid-area: 3 / 1 / 3 / span 4;
  background-color: #112a3d;
  color: #96bae2;
  padding: 10px;
  text-align: center;
}

/* Verschachteltes Grid für Teammitglieder */
.nested-grid {
  grid-area: 4 / 1 / 4 / span 4;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 10px;
}

/* Namen der Mitglieder*/
.member {
  background-color: #6b87a7;
  color: #e8f3ff;
  padding: 10px;
  text-align: center;
}
